#container {
  height: 1000px;
}


body {
  background-color:#f0f0f0;
} 

.prototype-wrapper {
  width:200px;
  margin: 0 auto;
}

.brand {
  font-size: 75px;
  line-height: 100px;
}

.spin {
  padding-top: 57px;
  width: 5px;
  height: 5px;
}

.title {
  font-size: 20px;
}

.form-search input.input-search {
  height: 64px;
  padding: 15px;
  font-size: 40px;
  line-height: 43px;
  width: 338px;
  margin-left: 10px;
}

.btn-large {
  font-size: 25px;
}

.metta {
  height: 40px;
  font-size: 15px;
}

.metta ul {
  margin: 9px 0;
}

.metta li {
  float: left;
  padding-left: 10px;
}

.metta strong, .talk_details strong {
  padding-right: 10px;
}

ul {
  list-style: none;
}

.speakers_img {
  border: 1px solid black;
  margin-top: 10px;
}

.row_item {
  border-bottom: 2px dotted orange;
  padding: 10px;
}
