@font-face {
    font-family: 'ArtifikaMedium';
    src: url('../fonts/artifika/Artifika-Regular-webfont.eot');
    src: url('../fonts/artifika/Artifika-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artifika/Artifika-Regular-webfont.woff') format('woff'),
         url('../fonts/artifika/Artifika-Regular-webfont.ttf') format('truetype'),
         url('../fonts/artifika/Artifika-Regular-webfont.svg#ArtifikaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Pallette from http://www.colourlovers.com/palette/559067/Nobody_%E2%99%A5_Sugar */
html {
  letter-spacing: 0.2em;
  -webkit-transition: all 0.3s;
  -webkit-gradient(linear, left top, left bottom, #E7ECF1, #D1D9E0);
}

body {
  background-color: #fff;
  color: #2D2D29;
  background: url('../img/noise.png') ;

}

body,
input,
button {
  font-family: 'ArtifikaMedium';
}

a {
  color: #215A6D;
}

a:hover {
  color: #3CA2A2;
}

li {
  line-height: 20px;
}

header p {
  text-align: center;
  font-size: 24px;
}

header a {
  padding-right: 20px;
  padding-left: 74px;
}

.brand {
  text-align: center;
  font-size: 100px;
  line-height: normal;
  text-shadow: 1px 1px 30px #8DA4CB;
}

.spin {
  padding-top: 57px;
  width: 5px;
  height: 5px;
}

.title {
  font-size: 20px;
}

.form-search {
  margin-top: 1em;
}

.form-search input.input-search {
  height: 47px;
  padding: 15px;
  font-size: 3em;
  line-height: normal;
  width: 81%;
  background-color: #fff;
}

.form-search button {
  height: 2em;
  font-size: 3em;
  padding: 15px;
  margin-left: 10px;
}

.btn-large {
  font-size: 25px;
}

.metta {
  height: 40px;
  font-size: 15px;
}

.metta ul {
  margin: 9px 0;
}

.metta li {
  float: left;
  padding-left: 10px;
}

.metta strong, .talk_details strong {
  padding-right: 10px;
}

ul {
  list-style: none;
  margin-left: 0;
}

.speakers_img {
  border-radius: 3px;
  margin-top: 10px;
}

.row_item {
  padding: 10px;
}

.row_item:nth-child(2n+1) {
  background-color: #eff7f7;
  border: 1px dotted #92C7A3;
  border-radius: 6px;
}

