<div class="row-fluid">
    <div class="span2 speaker_image">
        <img src= {{if speaker.picture}} ${speaker.picture} {{else}} 'img/nopic.png' {{/if}} >
    </div>
    <div class="span8 talk_details">
        <h2> ${title} </h2>
        <div class="talk_details">
            
            {{if speaker.name}} 
                <h3 class="speaker"> 
                    <em>
                        by ${speaker.name} 
                    </em>
                </h3>
            {{/if}}
            {{if date}}${date}{{/if}}
            ({{if duration}}${parseInt(duration/60/60)} hours ${parseInt(duration/60)%60} minutes{{/if}})
            
            
            <p class="description">
            {{if description}}
                 ${description} 
            {{/if}}
            </p>

            <p>
                <strong>
                    <a href= {{if license}} ${license} {{/if}} target="_blank">License</a>
                     | 
                    <a href= {{if permalink}} ${permalink} {{/if}}>Download</a> 
                     |
                    <a href="${source}">${source}</a>
                     | 
                    <a href="#">Back to top</a>
                </strong>
            </p>
        </div>
    </div>
    <div class="span2 player">
        <div class="ui360 ui360-vis">
            <a href=  {{if permalink}} ${permalink} {{/if}} ></a>
        </div>
    </div>
</div>

